.btn-1 {
  background-color: #4CAF50;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  margin: 4px 2px;
  cursor: pointer;
  transition: background-color 0.5s ease-in-out;
}

.btn-1:hover {
  background-color: #3e8e41;
}


.btn-2 {
  background-color: #008CBA;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  margin: 4px 2px;
  cursor: pointer;
  transition: transform 0.3s ease-in-out;
}

.btn-2:hover {
  transform: rotate(180deg);
}


.btn-3 {
  background-color: red;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 0px;
  transition: border-radius 0.9s ease-in-out;
}

.btn-3:hover{
    border-radius: 20px;
}


.btn-4 {
  background-color: #9b59b6;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;

  margin: 4px 2px;
  cursor: pointer;
  transition: transform 0.5s;
}

.btn-4:hover::after {
  content: "";
  position: absolute;
  overflow: hidden;
  top: -50%;
  left: -7%;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.2);
  transform: rotate(-17deg);

}

.btn-4:hover {
   transform: scale(1.2);
}


.btn-5 {
    border-radius: 20px;
}

.notification {
  position: absolute;
  background-color: #008CBA;
  color: black;
  cursor: pointer;
  height: 40px;
  border-radius: 20px;
}

.notification-list {
  position: absolute;
  top: -16px;
  left: 0;
  background-color: #FFF8CC;
  border: 1px solid grey;
  padding: 10px;
  display: none;
  border-radius: 20px;
  list-style-type: none;
}

.notification:hover .notification-list {
  display: block;
  animation-name: fadeInFromNone;
  animation-duration: 1s; 
}

.notification-list li {
  padding: 5px;
  transition: transform 0.9s;
  border-radius: 10px;
  
}

.notification-list li:hover {
  background-color: #FEE75A;
  transform: scale(1.3);
}

@keyframes fadeInFromNone {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}



.gallery{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: 50px;
    align-items: center;
}

.card {
    width: 300px;
    margin: 20px;
    overflow: hidden;
    position: relative;
    border-radius: 10px;
    transition: transform 0.3s;
    cursor: pointer;
}


.card img {
    max-width: 100%;
    display: block;
}


.card-text {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.9);
    display: flex;
    align-items: center;
    justify-content: center;
    transform: translate(-100%, -100%);
    opacity: 0;
    transition: transform 0.5s, opacity 0.5s;
}

.card:hover .card-text {
    transform: translate(0, 0);
    opacity: 1;
}

.card-text p {
    text-align: center;
}


.video-container {
  position: relative;
  width: 300px;
  height: 200px;
  margin: 50px auto;
  left: -50px;
  transition: transform 0.3s;
}

.video-container video {
  width: 100%;
  height: 100%;
  border-radius: 10px;
  object-fit: cover;
  margin-left: 20% ;
}

.video-text {
    color: white;
    position: absolute;
    top: 20%;
    left: -20;
    width: 80%;
    height: 60%;
    background-color: rgba(0, 0, 0, 0.7);
    display: flex;
    align-items: center;
    justify-content: center;
    transform: translate(-80%);
    opacity: 0;
    transition: transform 0.5s, opacity 0.5s;
}

.video-container:hover .video-text {
    transform: translate(0, 0);
    opacity: 1;
}

.video-container p {
    text-align: center;
}